.loadingStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: #000011;
  font-size: 2rem;
  font-weight: bolder;
}
