.InfoCard {
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 16px;
}

.InfoCard__name {
  width: 100%;
  font-size: 2rem;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.InfoCard__country {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
}

.InfoCard__divider {
  margin: 8px 0px;
  height: 4px;
  border-radius: 2px;
  border: none;
}
