.Layout {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.InfoCardPosition {
  position: absolute;
  bottom: 64px;
  left: 64px;
}

.NavigationPosition {
  position: fixed;
  top: 0px;
}

.NodeListPosition {
  width: 32vw;
  max-width: 442px;
  min-width: 352px;
  position: absolute;
  top: 64px;
  left: 64px;
  height: 42vh;
}
